footer {
	background: var(--color-primary);
	padding: 3rem 1rem;
	font-size: 0.9rem;
	margin-top: 7rem;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer a {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--color-bg);
}

.copyright {
	color: var(--color-bg);
}

/* Media Queries --- Medium */
@media screen and (max-width: 1024px) {
	.footer {
		padding: 1rem;
	}
	.footer-container {
		margin-bottom: 4rem;
	}
}
/* Media Queries --- Small */
@media screen and (max-width: 600px) {
}
